body{
    background:url("https://tse3.mm.bing.net/th?id=OIP.ebAvOZYguPJ_9wXfjMZgGwHaEK&pid=Api&P=0&h=180");
    background-size:cover;
}



img{
    height:200px;
    margin-left: auto;
    margin-right: auto;
    display:block;
}
.card{
    border:3px solid rgba(0, 11, 0, 0.616);
    width:400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(183, 198, 208);
    margin-top:200px;
    
}
h3{
    text-align:center;
    color:rgb(1, 1, 13);
}
p{
    text-align: justify;
}