body{
    background:url("https://tse2.mm.bing.net/th?id=OIP.93fhO9FWtZquqNxCpvFlRQHaEK&pid=Api&P=0&h=180");
    background-size:cover;
}


#heading{
    color: blue;
    text-align: center;
}

.fblogin{
    border:2px solid rgba(13, 14, 13, 0.616);
    width:400px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: rgb(238, 232, 232);
    margin-top:200px;
}

h3{
    text-align: center;
}

input{
    width: 250px;
    height: 30px;
}

button.fblogin{
    width: 110px;
    height: 30px;
    background-color: blue;
    color: white;
    box-shadow: 5px 10px 20px rgb(255, 255, 255);
}

button.new{
    width: 200px;
    height: 30px;
    background-color: rgb(4, 174, 55);
    color: white;
}

p{
    text-align: center;
}